@import "tailwindcss";
@config "../../tailwind.config.js";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

@keyframes gradient {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
}